<!DOCTYPE html>
<html>
  <head>
    <title>Artist Search</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/get_key_with_callback.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
     <style>
        .image-container {
            width: 240px;
            height: 240px;
            background-size: cover;
            background-image:"http://i.stack.imgur.com/2OrtT.jpg";
            background-repeat: no-repeat;
            background-position: 50% 50%;
            float:left;
        }
     </style>
  </head>
<body>

<div id="wrap" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    </div>
  </div>
</div>

<div class="container">
    <div class="hero-unit">
        <h1> Artist News </h1>
            <div>
                <input id="artist" type="text" placeholder="Enter artist name ..." </input>
                <button id="go" class="btn btn-primary"> Get News </button>
            </div>
            <div> <input id='relevant' type="checkbox" checked> News that matters </input> </div>
            <div id="info" class=""> </div>
    </div>
    <div id="results"> </div>
</div>

<script type="text/javascript">

var apiKey = 'NO_API_KEY'; // Assigning the API Key
jQuery.ajaxSettings.traditional = true; // Creating AJAX settings

function fetchNews(artist, highRelevance) { /* Create the function "fetchNews" that will search for a specific artist and crawl for the highest
                                               relevant blogs or news stories*/ 
    var url = 'http://developer.echonest.com/api/v4/artist/news'; /* Assign variable "url" to the url it will be pulling data from. */

    $("#results").hide();
    var args = { 
            format:'json', 
            api_key: apiKey,
            name: artist,
            results: 100, 
            high_relevance: highRelevance, 
    }; 

    info("Fetching the news for " + artist);
    $.getJSON(url, args,
            function(data) {
                $("#results").empty();
                if (! ('news' in data.response)) {
                    error("Can't find any news for " + artist); /* If the results that are searched for come back empty, return an error with some text */
                } else {
                    $("#results").show(); /* If the results that are searched for come back with data, show that data here */
                    var titles = {}
                    $.each(data.response.news, function(index, news) {
                        if (! (news.name in titles)) {
                            var div = formatNews(news);
                            $("#results").append(div);
                            titles[news.name] = 1;
                        }
                    });
                    info("Showing " + data.response.news.length + " of " + data.response.total + " news items for " + artist);
                }
            },
            function() {
                error("Trouble getting news for " + artist);
            }
        );
}


function formatNews(news) {
    var div = $("<div class='news well'>");
    div.append($("<h4>").html(news.name));

    var date = "";
    if ('date_posted' in news) {
        date = "<i>" + news.date_posted.substring(0,10) + '</i> ';
    }

    div.append($("<p>").html(date + news.summary + " ..." ));
    var link = $("<a>");
    link.attr('href', news.url);
    link.text("full story on " + getSource(news.url));
    div.append(link);
    return div;
}


function go() {
    var artist = $.trim($("#artist").val());
    if (artist.length  > 0) {
        var relevance = $("#relevant").is(':checked');
        fetchNews(artist, relevance);
    } else {
        info("Type an artist name first");
    }
}

function getSource(url) {
        var path = url.split('/');
        return path[2]        ;
}

function info(s) {
    $("#info").removeClass();
    if (s.length > 0) {
        $("#info").addClass("alert alert-info");
    }
    $("#info").text(s);
}

function error(s) {
    $("#info").removeClass();
    if (s.length > 0) {
        $("#info").addClass("alert alert-error");
    }
    $("#info").text(s);
}
    


$(document).ready(function() {
    // fetchApiKey will fetch the Echo Nest demo key for demos
    // hosted on The Echo Nest, otherwise it fetch an empty key
    fetchApiKey( function(api_key, isLoggedIn) {
        if (!api_key) {
            api_key = 'MY_ECHO_NEST_API_KEY';
        }
        apiKey = api_key;
        $.ajaxSetup({ cache: false });
        $("#all_results").hide();
        $("#go").click(go);
        $("#artist").change(go);
    });
});

</script>
</body>
</html>